@use "../../styles/mixins/breakpoints"as *;

.filtersMenu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 20px;

  background: var(--color-slate-50);
  border: 1px solid var(--color-zinc-200);
  border-radius: 16px;
  box-shadow: var(--shadow-medium);

  gap: 16px;
  @include breakpoints("S") {
    flex-direction: column;
    align-items: flex-start;
  }
  @include breakpoints("XS") {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

.search {
  display: flex;
  flex-direction: column;

  gap: 8px;
  @include breakpoints("S") {
    width: 100%;
  }
}

.label {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-zinc-900);
}

.searchInput {
  height: 40px;
  padding: 0 40px 0 12px;

  color: var(--color-zinc-900);

  background: var(--color-white);
  border: 1px solid var(--color-zinc-200);
  border-radius: 12px;
  box-shadow: var(--shadow-soft);
}

.searchInput {
  min-width: 260px;
  padding-right: 12px;

  @include breakpoints("XS") {
    min-width: 100%;
  }
}

.sortOrder {
  display: flex;
  align-items: center;
  min-width: 190px;
  min-height: 42px;
  padding: 10px;

  color: var(--color-sky-1);

  background-color: var(--color-white);
  border: 1px solid var(--color-sky-1);
  border-radius: 12px;
  cursor: pointer;

  gap: 5px;
  @include breakpoints("S") {
    width: 100%;
  }
  svg {
    transition: 0.3s;
  }
}

.sortOrderActive {
  svg {
    transform: rotate(180deg);
  }
}
